.container.text-center
  .row
    = image_tag "/images/events/gitlab-commit/2020-hero4.jpg"
    .hero-content
      %h2{style: "font-size: 3.8em; margin-bottom: .2em"} Commit: You belong here

      -# The above variable "expiration_date" automatically disables related buttons
      -# expiration_date should be specified using the ISO 8601 date format, YYYY-MM-DD
      -# If including a time, YYYY-MM-DDT:HH:MM:SS-timezeone.
      -# Example: 2010-02-01T:22:00:00-0700 (February 1st, 2010 @ 10PM Pacific).
      -# Example uses include when the CFP expires or when tickets can no longer be purchased.
      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")

      %h2{style: "font-size: 3em;"} Aug 26th, 2020
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-registration-105130995638?aff=pubsec" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger" type="button" class="btn cta-btn orange u-margin-top-sm" style="border: 1px solid #ffffff;">#{current_page.data.header_primary_cta_text}</button>
            <noscript>#{current_page.data.header_primary_cta_text}</a></noscript>
