---
layout: handbook-page-toc
title: "Sales"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

{::options parse_block_html="true" /}

# Welcome to the Sales team homepage! 

*The GitLab Field team includes multiple functions: Enterprise Sales, Commercial Sales, Customer Success, Channel Partners, Alliances, Field Operations.*

- This page serves as our home base. From here, you can find a wealth of resources from all of the teams in our department. 
- Interested in collaborating with the Sales team? See our [How We Work](/handbook/sales/#how-we-work) and [Communicating with the Team](/handbook/sales/#communicating-with-the-team) sections. 
- Want to learn more about our goals? Check out our [most recent Objectives and Key Results (OKRs)](/company/okrs/#most-recent-okrs). 

## Quick Reference Guide

<details>
<summary markdown='span'>
  Where to begin
</summary>

- [Sales & Customer Success Onboarding](/handbook/sales/onboarding/)

- [Commercial Sales](/handbook/sales/commercial/)

- [Sales Territories](/handbook/sales/territories/)

- [Channels](/handbook/sales/channel/#channels-handbook)

- Sales Term Glossary (Coming Soon)

</details>

<details>
<summary markdown='span'>
  Sales Enablement Resources
</summary>

- [Sales Training](/handbook/sales/training/)

- [Sales Enablement Sessions](/handbook/sales/training/sales-enablement-sessions/)

- [Command of the Message](/handbook/sales/command-of-the-message/)

- [Most Commonly Used Sales Resources](/handbook/marketing/product-marketing/sales-resources/)

- [Field Certification Program](/handbook/sales/training/field-certification/)

- [Sales Manager Best Practices](/handbook/sales/field-operations/field-enablement/sales-manager-best-practices/)

- [Field Flash Newsletter](/handbook/sales/field-communications/field-flash-newsletter/)

</details>

<details>
<summary markdown='span'>
  Sales Processes/Standard Operating Procedures
</summary>

- [Sales Order Processing](/handbook/business-ops/order-processing/)

- [Engage & Educate the Customer](/handbook/sales/sales-operating-procedures/engage-and-educate-the-customer/)

- [Facilitate The Opportunity](/handbook/sales/sales-operating-procedures/facilitate-the-opportunity/)

- [Deal Closure](/handbook/sales/sales-operating-procedures/deal-closure/)

- [Retain and Expand](/handbook/sales/sales-operating-procedures/retain-and-expand/)

- Forecasting (Coming soon)

- Investor Sales Support (Coming Soon)

</details>

<details>
<summary markdown='span'>
Sales Meetings & Events
</summary>

- [President's Club](/handbook/sales/club/)

- [Sales Kickoff](/handbook/sales/training/SKO/)

- Sales Meetings (coming soon)

</details>

<details>
<summary markdown='span'>
Helpful Sales Handbook Topics 
</summary>

- [FAQ from Prospects](/handbook/sales-faq-from-prospects/)

- [Client Use Cases](/handbook/use-cases/)

- [Dealing with Security Questions From Prospects](/handbook/engineering/security/#security-questionnaires-for-customers)

- [How to conduct an executive meeting](https://www.youtube.com/watch?v=PSGMyoEFuMY&feature=youtu.be)

- [CEO Preferences when speaking w/ prospects/customers](/handbook/people-group/ceo-preferences/#sales-meetings)

- Best Practices for Building Value with Customers (Coming Soon)

- Understanding How Our Customers Use Gitlab (Coming Soon)

- Prospect Engagement Best Practices (Coming Soon)

</details>

<details>
<summary markdown='span'>
Field Operations Teams and Resources
</summary>

- [Field Operations](/handbook/sales/field-operations/)

- [Sales Operations](/handbook/sales/field-operations/sales-operations/)

- [Deal Desk](/handbook/sales/field-operations/sales-operations/deal-desk/)

- [Field Enablement](/handbook/sales/field-operations/field-enablement/)

- [Sales Strategy](/handbook/sales/field-operations/sales-strategy/)

- [Sales Systems](/handbook/sales/field-operations/sales-systems/)

- [Commissions](/handbook/sales/commissions/)

- [Commercial](/handbook/sales/commercial/)

- [Customer Success Operations](/handbook/customer-success/)

</details>

<details>
<summary markdown='span'>
Customer Success Resources
</summary>

- [Customer Success Groups](/handbook/customer-success/#customer-success-groups)

- [How to Engage a Solutions Architect](/handbook/customer-success/solutions-architects#when-and-how-to-engage-a-solutions-architect)

- [Account Planning Template for Large Accounts](https://docs.google.com/presentation/d/1yQ6W7I30I4gW5Vi-TURIz8ZxnmL88uksCl0u9oyRrew/edit?ts=58b89146#slide=id.g1c9fcf1d5b_0_24)

</details>

<details>
<summary markdown='span'>
Sales Resources Outside of the Sales Handbook
</summary>

- [Resellers Handbook](/handbook/resellers/)

- [Customer Reference Sheet](https://docs.google.com/a/gitlab.com/spreadsheets/d/1Off9pVkc2krT90TyOEevmr4ZtTEmutMj8dLgCnIbhRs/edit?usp=sharing)

- [GitLab Support Handbook](/handbook/support/)

- [GitLab Hosted](/gitlab-hosted/)

</details>

<details>
<summary markdown='span'>
Marketing
</summary>

<details>
<summary markdown='span'>
Fundamentals
</summary>

- [Elevator Pitch](/handbook/marketing/product-marketing/messaging/#gitlab-value-proposition)

- [Account Ownership Rules of Engagement](/handbook/sales/field-operations/gtm-resources/#account-ownership-rules-of-engagement)

- [Parent and Child Accounts](/handbook/sales/#parent-and-child-accounts)

- [Opportunity Stages](/handbook/sales/field-operations/gtm-resources/#opportunity-stages)

- [Record Ownership](/handbook/sales/field-operations/gtm-resources/#record-ownership)

- [Forecasting Definitions and Processes](/handbook/sales/#forecasting)

- [Associating emails to Salesforce](/handbook/sales/#associating-emails-to-opportunities)

- [Additional Metrics and Definitions](/handbook/sales/#definitions)

- [Sales Commisions](/handbook/sales/commissions/)

</details>

<details>
<summary markdown='span'>
Top of Funnel
</summary>

- [Marketing](/handbook/marketing/)

</details>

<details>
<summary markdown='span'>
Early to Mid Stage
</summary>

- [Opportunity Types](/handbook/sales/field-operations/GTM-resources/#opportunity-types)

- [Opportunity Naming Conventions](/handbook/sales/field-operations/GTM-resources/#opportunity-naming-convention) 

- [How to Create an Opportunity](/handbook/sales/field-operations/GTM-resources/#how-to-create-an-opportunity)

- [MEDDPPICC Qualification](/handbook/sales/#capturing-meddppicc-questions-for-deeper-qualification)

- [Sales Discovery & Qualification Questions](/handbook/sales/qualification-questions/)

- [Gitlab ROI calculator - check link for accuracy](/handbook/marketing/corporate-marketing/#corporate-events-strategy--goals)

- [Proof of Value](/handbook/sales/POV/)

- [Creating a Quote](/handbook/sales/field-operations/sales-operations/deal-desk/#zuora-quote-configuration-guide---standard-quotes)

- [Quote Approval Matrix](https://docs.google.com/document/d/1-CH-uH_zr0qaVaV1QbmVZ1rF669DsaUeq9w-q1QiKPE/edit?usp=sharing)

- [Delivering a Quote via Sertifi](/handbook/marketing/community-relations/community-advocacy/workflows/education-oss-startup/#sending-a-quote-to-the-applicant-through-sertifi)

</details>

<details>
<summary markdown='span'>
Late Stage
</summary>

- [Submitting an Opportunity for Approval](/handbook/business-ops/order-processing/#what-happens-when-you-submit-an-opportunity-for-approval)

- [How to Handle Vendor Setup Forms](/handbook/business-ops/order-processing/#how-to-process-customer-requested-vendor-setup-forms)

</details>

<details>
<summary markdown='span'>
Post Sales Processes
</summary>

- [How to Amend a Subscription Quote](/handbook/sales/field-operations/sales-operations/deal-desk/#amend-subscription-quote)

- [How to Renew a Subscription Quote](/handbook/sales/field-operations/sales-operations/deal-desk/#renew-subscription-quote)

- [True Ups](/handbook/sales/#true-up)

- [Contract Resets](/handbook/sales/field-operations/sales-operations/deal-desk/#contract-reset)

- Consolidation of Subscriptions (coming soon)

</details>

<details>
<summary markdown='span'>
Marketing Resources
</summary>

- [Gitlab Messaging (does this mean Product Marketing Messaging?)](/handbook/marketing/product-marketing/messaging/#gitlab-value-proposition)

- [Inbound Lead Generation](/handbook/marketing/revenue-marketing/sdr/#inbound-lead-generation)

- [Routing Rules](/handbook/sales/field-enablement/GTM-resources/#routing)

- [Lead and Contact Statuses](/handbook/sales/field-enablement/GTM-resources/#lead--contact-statuses)

</details>

<details>
<summary markdown='span'>
Strategic Marketing
</summary>

- [Strategic Marketing Handbook](/handbook/marketing/product-marketing/)

- [Product Marketing Manager Assignments](/handbook/marketing/product-marketing/#which-product-marketing-manager-should-i-contact)

- [Customer-Facing Presentations](/handbook/marketing/product-marketing/#customer-facing-presentations)

- [Print Collateral](/handbook/marketing/product-marketing/#print-collateral)

- [Sales Collateral Google Drive](https://drive.google.com/open?id=0B-ytP5bMib9TaUZQeDRzcE9idVk)

</details>

<details>
<summary markdown='span'>
Sales Development
</summary>

- [Sales Development Handbook](/handbook/marketing/revenue-marketing/sdr/)

</details>
</details>

<details>
<summary markdown='span'>
Product Resources
</summary>

- [Product Team Handbook](/handbook/product/)

- [Engaging Product Management](/handbook/product/how-to-engage/)

- [Asking Questions/Giving Feedback on a Feature](/handbook/product/product-categories/#devops-stages)

- [Product Categories](/handbook/product/product-categories/)

- [Other Product Handbook Pages](/handbook/product/)

</details>

<details>
<summary markdown='span'>
Finance
</summary>

<details>
<summary markdown='span'>
Finance Processes
</summary>

- [Deal Desk: Assistance with Quotes](/handbook/sales/field-operations/order-processing/#assistance-with-quotes)

- [Deal Desk: Approval Process](/handbook/sales/field-operations/order-processing/#deal-desk-approval-process)

- [Sending a Quote to Zuora](/handbook/business-ops/order-processing/#step-8--sending-the-quote-to-zuora)

- [How to Initiate a Refund](/handbook/finance/accounting/#7-invoice-cancellations-and-refunds)

</details>

<details>
<summary markdown='span'>
Business Operations Processes
</summary>

- [Business Operations Handbook](/handbook/business-ops)

- [Data Team Handbook](/handbook/business-ops/data-team/)

- [Data Quality Process](/handbook/business-ops/data-quality-process/)

- [IT Ops Handbook](/handbook/business-ops/it-ops-team/)

- [Access Requests](https://gitlab.com/gitlab-com/team-member-epics/access-requests)

</details>
</details>

<details>
<summary markdown='span'>
Legal Processes
</summary>

- [Collaborating with Legal](/handbook/legal/customer-negotiations/)

- [Legal Page](/handbook/legal/)

- [Engaging Legal in Deals](/handbook/business-ops/order-processing/#process-for-agreement-terms-negotiations-when-applicable)

</details>

<details>
<summary markdown='span'>
People Group
</summary>

<details>
<summary markdown='span'>
Team Member Resources
</summary>

- [GitLab Values & Certification Process](/handbook/values/)

- [GitLab Competencies & Certification Process](GitLab Competencies & Certification Process)

- [GitLab Diversity, Inclusion & Belonging](/company/culture/inclusion/)

- [People Business Partner Alignment for Sales](/handbook/people-group/#people-business-partner-alignment-to-division)

- [Women in Sales Mentorship Pilot Program](/handbook/people-group/women-in-sales-mentorship-pilot-program/)

- [Women in Sales Project](/handbook/people-group/women-in-sales-mentorship-pilot-program/)

</details>

<details>
<summary markdown='span'>
Sales Manager Resources
</summary>

- [Leadership Toolkit](/handbook/people-group/leadership-toolkit/)

</details>
</details>

## Who We Are

The Sales team is led by the [Chief Revenue Officer (CRO)](/job-families/sales/chief-revenue-officer/). Reporting into this individual are the:
- [VP Enterprise Sales](/job-families/sales/vp-enterprise-sales/)
- [VP Commercial Sales](/job-families/sales/vp-of-commercial-sales/) (Mid-Market and SMB)
- [VP WW Field Operations](/job-families/sales/sales-operations/)
- [VP Customer Success](/job-families/sales/vp-of-customer-success/)
- [VP WW Channels](/job-families/sales/vp-of-global-channels/)
- [VP Alliances](/job-families/alliances/vp-of-alliances/)

The Sales team is organized into Large, Mid-Market, and SMB segments. (Descriptions of Sales segments can be found in the [Field Operations Handbook - Segmentation section](/handbook/sales/field-operations/gtm-resources/#segmentation).)

The people working with each segment and their quota are:
- Large: [Strategic Account Leader](/job-families/sales/strategic-account-leader/) (SAL)
- Mid-Market: [Mid-Market Account Executive](/job-families/sales/account-executive/) (MM AE)
- SMB: [SMB Account Executive](/job-families/sales/smb-customer-advocate/) (SMB AE)

See the [GitLab org chart](/company/team/org-chart/) for more information.

## How We Work

The GitLab Sales team embodies our CREDIT values in every aspect of our work. Specifically, we constantly work to overperform and achieve strong [results](/handbook/values/#results). We prioritize [efficiency](/handbook/values/#efficiency) in our processes and operations. We succeed because of [transparent](/handbook/values/#transparency), cross-functional [collaboration](/handbook/values/#collaboration). We are committed to hiring for and celebrating [diversity](/handbook/values/#diversity-inclusion), and we strive to create an environment of [inclusiveness and belonging](/handbook/values/#diversity-inclusion) for all. And, we embrace a spirit of [iteration](/handbook/values/#iteration), understanding that we can always improve. 

### Sales Tech Stack

For information regarding the tech stack at GitLab, please visit the [Tech Stack Applications page](/handbook/business-ops/tech-stack-applications/#tech-stack-applications) of the Business Operations handbook where we maintain a quick reference table of who should have access to various tools and the designated owner for each to contact with questions. To see a full list of the tools that make up our tech stack, visit the [Tech Stack Details page](/handbook/business-ops/tech-stack/).

### Collaborating with the Team 

Please [use the Handbook](/handbook/handbook-usage/#why-handbook-first) as much as possible to document important information. You should also use the Handbook as a starting point for any questions. [Read here](https://docs.google.com/document/d/1l5mfHMck914I1aJMOCX4lU2J2sImrloUpSm3Nb5Pa9U/edit) for guidance on how we take notes on the GitLab Sales team.

[Dogfood](/handbook/values/#dogfooding) GitLab whenever you can – to collaborate on ideas, gather feedback, organize projects, and more.  

When you have to use office applications, always use [G Suite applications](https://gsuite.google.com/together/) instead of Microsoft Office; for example, Google Sheets instead of Excel, Google Docs instead of Word, and Google Slides instead of Keynote or Powerpoint. Give the entire company editing rights whenever possible so everyone can contribute.

### Communicating with the Team

- The Sales team primarily communicates via Slack in our day-to-day work. Our main team channels are **#sales**, our general channel, and **#field-fyi**, our read-only channel for official field team announcements. 
   - Email is used in some segments where customer privacy dictates additional security measures. 
   - For a full breakdown of all Field Slack groups and the hierarchy of our Google Groups, see the [Communicating with the Field Handbook page](/handbook/sales/sales-google-groups/). 
- Please reference the [Sales Support and Sales Operation Handbook page](/handbook/sales/field-operations/sales-operations) for a summary of how to engage with deal desk resources.
- Chatter @contracts on the specific record in Salesforce where you will need assistance from the legal team.

Please avoid contacting individuals directly so that discussions can be available for everyone to review and learn from. We strongly encourage every team member to review the [GitLab Communication Handbook page](/handbook/communication/) upon joining the team, and occasionally return to it during your tenure here as a refresher. (You can also get [certified](/handbook/communication/#communication-certification) on communication at GitLab.)

### Supporting Teams

<figure class="video_container">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQNYu_4jB3j3i_fYukM3yMtcbhgbpKbivbaaiKnuih3X6pdn-oI9ic0k6TqtwP2qjqVAaC-HXIC0uD7/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</figure>

The Sales team works cross-functionally, both with teams within and outside of our organization. These teams include: 

#### Customer Success

The Customer Success department is part of the GitLab Sales function and partners with our large and strategic customers to deliver value throughout their journey with GitLab. See our [Customer Success page](/handbook/customer-success/) in the Handbook for more details.

#### Channels & Alliances

These teams help accelerate GitLab’s trajectory by connecting our business and customers to companies that can help compliment our product mission and/or drive customer adoption and usage of the GitLab platform. See our [Channel](/handbook/sales/channel/) and [Alliances](/handbook/alliances/) Handbook pages for more details. 

#### Sales Development Representative (SDR)

This team sits within the Marketing department and provides territory support to Sales team members through outreach, prospecting, and lead qualification. Key priorities include:
   1. Align on accounts and prioritize prospecting targets (both on the account and title levels).
   1. SDRs are to set 'at bat' meetings utilizing sales development best practices 
   1. Drive brand awareness within target accounts

See the [SDR page](/handbook/marketing/revenue-marketing/sdr/#sdr-expectations) in the Handbook for more details. 

#### Support 

This team provides technical support to GitLab.com and Self-Managed GitLab customers. For an overview of support levels based on plan tier, see the [Support Page](/support/). The Support → Technical Account Manager (TAM) escalation process can be found [here](/handbook/customer-success/tam/escalations/). 

During the sales cycle, potential customers who have questions that are not within the scope of Sales can have their queries escalated in different ways depending on the account size:
   1. For Strategic/Large accounts that will have a dedicated Solutions Architect, [engage the SA](/handbook/customer-success/solutions-architects/#when-and-how-to-engage-a-solutions-architect) so that they can triage and develop the request.
   1. For questions that you think technical staff can answer in less than 10 minutes, see the [internal support](/handbook/support/internal-support/) section of the Support Handbook.
   1. If a potential customer has already asked you a question, forward a customer question via email to the support-trials email address. It's important the email is forwarded and not CC'd to avoid additional changes required once the support request is lodged.
   1. For escalating a Support ticket, see the [I want to escalate a ticket](/handbook/support/internal-support/#i-want-to-escalate-a-ticket) section.

#### Product

We work with the Product team to help drive the [GitLab Direction](/direction/) based on customer feedback and needs. 

When you hear of feedback or you personally have feedback, you are encouraged to comment within the issue, if one exists, or create your own issue on our [Issue Tracker](https://gitlab.com/gitlab-org/gitlab/-/issues). 

When you have an organization that is interested in a feature and you have commented in the issue and added a link to the account in Salesforce, please follow the [process outlined on the Product Handbook](/handbook/product/how-to-engage/#examples-a-customer-has-a-feature-request) to arrange a call with the product manager and account to further discuss the feature request.

If a client has a question or suggestion about a particular part of the product, find out which individual on the Product team you need to speak by looking under [DevOps Stages](/handbook/product/product-categories/#devops-stages) on the Product stages, groups, and categories page.

### Coronavirus Impact to Business Tracking

To standardize our messaging around Coronavirus and the impact it is having on our prospects and customers, please reference the below processes:
*  Use this for [guidance on a standardized conversation](https://docs.google.com/document/d/1NLHsJ72lTG7o93UnmSHIWF-ifW0202NPiBRJPWacTJc/edit?usp=sharing)
*  Use this to [capture anecdotal feedback from prospects & customers](https://docs.google.com/document/d/1lFnM1SlVtOjy0IsUmGT5rjwpLdgt4TIlxg154czX1p4/edit)
*  Add the string `#covid` in the SFDC Opportunity field `[CP]` Close Plan to indicate you have had this conversation with your prospect/customer and use this report to confirm your Opportunity is tagged correctly: [COVID Mentions in CP Close Plan](https://gitlab.my.salesforce.com/00O4M000004e58i)
*  Assess and flag each SFDC Deal using the "COVID-19 Risk Scale" field with the following definitions:

1. Blank: No conversation or insight has been gathered yet
1. Pending: Engaged with customer to validate current situation
1. No impact: Oppty proceeding on close plan in customer's words
1. Med: Customer validates change to budget or timing but some "high priority" purchases still happening
1. High - Budget Change: Customer's words: all budget gone in formal response to economy
1. High - Priority Change: Customer's words: Timing must push in direct response to economy

*  Add high-level summary of impact to "COVID Comment" and original amount prior to impact in "Pre-COVID IACV" SFDC fields on the opportunity
*  A note for Commercial Account Owners: add the string `c19` to any activity record where a discussion was held.

----

❗️ ***This page is under construction as a part of the ongoing Sales Handbook Refactor initiative. The below content will be either reformatted or moved by 2020-09-25. See the project plan [here](https://gitlab.com/gitlab-com/sales-team/field-operations/sales-operations/-/issues/1550) for details.***


#### Holdover Accounts when a SAL is promoted to Area Sales Manager

In advance of a SAL being promoted to an ASM, the SAL may choose as holdovers for 3 months from their promotion effective date opportunities which are greater than or equal to all of the following Salesforce opportunity characteristics: $100k IACV, Stage 3, 50% Probability, provided that the opportunity attributes are established in good faith.
The holdover accounts must first be approved by the VP, Enterprise Sales and then documented with Sales Operations no later than the promotion effective date.
The new ASM is expected to spend less than 25% of their time as an ASM managing the holdover accounts and is required to proactively incorporate the receiving SAL into the account so the transition is minimally disruptive to the account and maximizes GitLab’s opportunity to best serve the customer.
Each individual holdover account will be fully transitioned to the receiving SAL on the opportunity close date (won or lost), 3 months following the promotion effective date, or upon the new ASM’s discretion, whichever comes first.
Any opportunity which meets the listed qualifications and is closed won during the holdover period will result in commission credit to the ASM equal to the commission they would have received under their most recent SAL compensation plan.
There will be no additional stacked ASM payout, although it will retire ASM quota.
The receiving SAL will receive no quota or commission credit.

## Operating Cadence - Sales Meetings, Presentations, Forecasting and Definitions

This section and its sub-sections listed below have been moved to dedicated pages. Please see the specific section for the updated destination link and update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

### Bi-Weekly WW Field Sales Call

Moved to the [Sales Meetings Page](/handbook/sales/sales-meetings). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Format

#### General Guidelines for Attendees

#### General Guidelines for Presenters

### Weekly Thursday Sales Enablement Call led by the Training and Enablement team

Moved to the [Sales Meetings Page](/handbook/sales/sales-meetings). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

### Sales Group Conversation

Moved to the [Sales Meetings Page](/handbook/sales/sales-meetings). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

### Quarterly Business Reviews
Moved to the [Sales Meetings Page](/handbook/sales/sales-meetings). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

### Focus Fridays
Moved to the [Sales Meetings Page](/handbook/sales/sales-meetings). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

### Forecasting

This section and its sub-sections listed below have been moved to dedicated pages. Please see the specific section for the updated destination link and update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Opportunity Management Requirements

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Forecast Category and Churn Renewal Fields

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Default Salesforce Stage to Forecast Category and Churn Renewal Mapping

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Forecast Categories Definitions

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Other Forecast Terminology

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Overriding Forecast Categories

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#####  Opportunity Splits

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

##### Advantages to Updating Opps in Clari

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Clari for Salespeople Instructional Videos

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### Forecasting and Sales Leaders

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

##### Reviewing Forecasts

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

##### Clari for Sales Leaders Instructional Videos

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

##### Clari Analytics Instructional Videos

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

#### LAM Forecasting data capture

Moved to the [Sales Forecasting Page](/handbook/sales/forecasting). Please update any bookmarks accordingly. This content will be deleted from the Sales Homepage on 2020-10-30. 

## Definitions

### Customer Definitions for External Reporting

### Customer
We define the number of customers as the number of accounts with a unique account identifier for which we have an active subscription in the period indicated. Users of our free trials or tier are not included in our customer count. A single organization with multiple divisions, segments or subsidiaries is generally counted as a single customer.

We snapshot customer count on business day 4. 

- [Sisense Dashboard - Breakdown of Customers by ARR buckets](https://app.periscopedata.com/app/gitlab/474959/Customer-Count-by-ARR-Buckets)
### First Order Customers

A First Order customer is a customer within an Account Family that makes the first subscription order for the Account Family in the period.

### Additional customer definitions for internal reporting

We define customers in the following categorical level of detail:
1. Subscription: A unique subscription contract with GitLab for which the term has not ended.
As customers become more sophisticated users of GitLab the number of subscriptions may decline over time as Accounts and Parents consolidate subscriptions to gain more productivity.
1. Account: An organization that controls multiple subscriptions that have been purchased under a group with  common leadership.
In the case of the U.S. government, we count U.S. government departments and major agencies as a unique account.
1. Parent: An accumulation of Accounts under an organization with common ownership.
In the case of the U.S. government, we count U.S. government major agencies as a unique parent account. (In Salesforce this is the `Ultimate Parent Account` field)

Because "customer" can have three different meanings whenever customer is used in presenting data it must be qualified by the type of customer.
The default description is parent. When the default is used no further description is required.
When account or subscription is being reported then the title or field description on the chart must be added to call out the basis for reporting.
Metrics that are based on customer data should also carry a clarifying description. For clarity parent will be the only customer type used for external reporting.

### Connected New Customers

A connected new customer is the first new subscription order with an Account that is related to an existing customer Account Family (regardless of relative position in corporate hierarchy) and the iACV related to this new customer is considered "Connected New".

#### Customer Segmentation

Customer segmentation follows the segmentation as laid out in the [Business Operations Handbook](/handbook/business-ops/resources/#segmentation) at the [Parent Account level](#customers).

#### Customer Counts

If an account was active at any point in time during the proposed timeframe it is counted as active.
For example, an account that is active from March 2019 to May 2019 but is inactive from June 2019-on is counted for CY2019, FY2020 (which runs from February 2019-January 2020), FY20-Q1, and FY20-Q2; it is not counted in FY20-Q3 or FY20-Q4.


#### Annual Recurring Revenue (ARR)

GitLab defines ARR as the annual run-rate revenue of subscription agreements from all customers in a given month. GitLab calculates ARR by taking the monthly recurring revenue, or MRR, and multiplying it by 12. MRR for each month is calculated by aggregating, for all customers during that month, monthly revenue from committed contractual amounts of subscriptions. ARR and MRR should be viewed independently of revenue, and do not represent GitLab's GAAP revenue on a monthly or annualized basis, as they are operating metrics that can be impacted by contract start and end dates and renewal rates. ARR and MRR are not intended to be replacements or forecasts of revenue. ARR and MRR calculates subscription fees normalized to a monthly value, and does not include one-time or usage fees.

We snapshot ARR on business day 4. 

#### Monthly Recurring Revenue (MRR)

Monthly recurring revenue from subscriptions that are active from all customers in a given month.

#### Rep Productivity

The average amount of annualized IACV a native quota carrying sales rep produces in a given month
formula: (IACV / # of native quota carrying reps adjusted for ramp time) * 12 months. See [Quota Ramp](/handbook/sales/commissions/#sales-rep-iacv-quota-ramp)

The IACV used in this calculation only includes opportunities owned by quota carrying sales reps (not by a manager, director, or VP).
Additionally, opportunities that represent web portal purchases are split out separately.

##### Measuring Sales Rep Productivity

The primary metric when measuring rep productivity for only for quota attainment but also for compensation is the Gross Incremental Annual Contract Value (Gross IACV).
Is is important to remember that while renewals are not a part of comp or quota attainment, renewing customers is still very important aspect of our business.

Rep Productivity is defined as IACV divided by the number of reps of a particular type (i.e. SAL, MM AEs, SMB Customer Advocates).
Web portal purchases are split out separately.

Another measured KPI is Rep Productivity (as defined above) divided by On Target Income.

### Average Sales Price (ASP)

IACV per won deal. This metric can be reported against various dimensions (e.g. ASP by customer segment, cohort, sales channel, territory, etc.)


#### Annual Contract Value (ACV)

Value of **all** bookings from new and existing customers that will result in recurring revenue over the next 12 months less any credits, lost renewals, downgrades or any other decrease to annual recurring revenue.
Excluded from ACV are bookings that are non-recurring such as professional services, training and non-recurring engineering fees (PCV).

#### Incremental Annual Contract Value (IACV)

Value of new bookings from new and existing customers that will result in recurring revenue over the next 12 months less any credits, lost renewals, downgrades or any other decrease to annual recurring revenue.
Excluded from IACV are bookings that are non-recurring such as professional services, training and non-recurring engineering fees (PCV). Also equals ACV less renewals.
However, bookings related to true-up licenses, although non-recurring, are included in IACV because the source of the true-ups are additional users which will result in recurring revenue.
IACV may relate to future periods (within twelve months).

IACV can be calculated by adding First Order IACV + Connected New IACV + Growth IACV.

More explicitly Beginning ARR + IACV may not equal ending ARR due to the following reasons:
1. True Ups: true-ups are included in IACV but not in the change in ARR (Delta ARR)
1. Timing: the change in ARR only includes contracts that have started where as IACV is based on the close date so the difference in the close dates of the contracts driving the IACV to the subscription start date impacts the difference
3. Co-term: if contract value is less than 12 months the change in ARR will show the 12 month value and IACV will show the value of the contract.

End ARR - Beginning ARR (Delta ARR) = iACV - [True Ups] + [Coterm difference] +/- [Timing difference]

Additionally IACV can be used to calculate Total ARR when combined with the renewal base.

Total ARR = New IACV + Growth IACV (Gross) + Renewals (including Multiyear mid-contract ARR) + Churn - [True Ups] +/- [bookings timing] +/- [co-term adjustment]

The final IACV value comes from the Net_IACV field in the Salesforce opportunities table.

##### How Incremental ACV is Calculated

Incremental IACV can be calculated for **new and add on business** in the following ways:

| **Type** | **Opportunity Term**  | **Amount/TCV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ |
| New Business | 12 months | $120,000 | $120,000 | New customer signs for less than or equal to 12 months is IACV. |
| New Business | 24 months |  $240,000 | $120,000 | New customer signs up for 24 months, so while Amount/TCV is $240,000, only the first 12 months counts towards IACV.  |
| Add On Business | 5 months | $40,000 | $40,000 | Existing customer signs for less than or equal to 12 months is IACV. |
| Add On Business | 16 months | $16,000 | $12,000 | Existing customer signs for more than 12 months, so while Amount/TCV is for the entire 16 months at $16,000, only the first 12 months counts towards IACV.   |


When calculating Incremental ACV against **renewal** opportunities, we consider the Renewal ACV (please see "[How Renewal ACV is Calculated](/handbook/sales/#renewals-acv)" for more details). In the following scenario, we will look at how IACV is calculated:

| **Type** | **Opportunity Term** | **ACV** | **Renewal ACV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ | ------ |
| New Business | 12 months | $120,000 | $0 | $120,000  | New customer signs for less than or equal to 12 months is IACV. |
| Add On Business | 5 months |  $50,000 | $0 | $50,000   | Customer add on at less than or equal to 12 months is IACV.  |
| Renewal | 12 months | $240,000 | $170,000 | $70,000  | The IACV from the new and add on business from the previous year total $170,000, while the ACV of the renewal opp is $240,000. The delta is IACV of $70,000.  |

Note that in the above scenario, while you are only paid for the first 5 months for the upsell, you are paid for the remaining 7 months on the renewal, meaning you are paid the entire 12 month upsell ($120,000 IACV) over two separate opportunities.

**Contractual Ramps:** this happens when a customer wants to increase the number of users over time on a **single** contract.
* A customer purchased 1,000 Starter seats at $48,000 for year 1 of a **multi-year** subscription.
* Year 2, they have agreed to purchase 2,000 seats at $96,000.
* Previously, we would take the average of the two years as the IACV, which would have been $72,000.
* Due to stricter requirements regarding revenue recognition, effective **July 1, 2019**, the calculation is no longer the average, but the actual year first year IACV. This ensures alignment between our bookings and revenue recognition.
* In this case, the IACV now would be $48,000.

**Contract Resets/Restarts:** this happens when a customer wants to restart their subscription in the middle of term.
* A customer purchased a subscription for $12,000 in January. In April, they decide to upgrade to a $24,000 annual package, but also restart their term to end 12 months from April, meaning the end date would now be March 31 and not December 31.
* We would cancel the remaining subscription as of April 1 through December 31. This will result in a credit of $9,000, which will be applied to the new subscription.
* By definition, the reset should be tagged as a Renewal, since we are extending the customer's subscription, albeit early. Any increase in subscription fees would result in IACV.

| **Type** | **Opportunity Term** | **Dates** | **ACV** | **Renewal ACV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ | ------ | ------ |
| New Business | 12 months | Jan 1 - Dec 31 | $12,000 | $0 | $12,000 | New customer signs for 12 month plan at $12,000 IACV |
| New Business | 9 months |  Apr 1 - Dec 31 | ($9,000) | $0 | ($9,000) | Credit opp: Customer wants to upgrade to $24,000, but also wants to reset their term starting Apr 1  |
| Renewal | 12 months | Apr 1 - Mar 30 | $24,000 |  $3,000 |  $21,000 | Contract reset is closed. Renewal ACV is only $3,000 ($12,000 - $9,000). |

**Consolidation of Subscriptions:** this happens when a customer wants to combine multiple subscriptions into one.
In this case, we would total all current Renewal ACV into a single renewal opportunity.
* A customer purchased a subscription for $12,000 in January for 12 months.
* In July, they purchase a second subscription, this time for $24,000 for 12 months.
* They want to co-term both subscriptions to end in December.


| **Type** | **Opportunity Term** | **Dates** | **ACV** | **Renewal ACV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ | ------ | ------ |
| New Business (Sub 1) | 12 months | Jan 1 - Dec 31 | $12,000 | $0 | $12,000 | New customer signs for 12 month plan at $12,000 IACV  |
| New Business (Sub 2) | 12 months | Jul 1 - Jun 30 | $12,000 | $0 | $12,000 | New customer signs for 12 month plan at $12,000 IACV  |
| New Business (Sub 2) | 6 months |  Jan 1 - Jun 30 | ($6,000) | $0 | ($6,000) | Credit opp: Customer will cancel this subscription for the remainder of term to coterminate their subscriptions  |
| Renewal (Sub 1 + Sub 2) | 12 months | Jan 1 - Dec 31 | $24,000 |  $18,000 |  $6,000 | Renewal consoildation will take the full 12 months for Sub 1 and the remaining credit for Sub 2 ($12,000 - $6,000). |

**Splitting Subscriptions:** this happens when a customer wants to split a single subscription into multiple subscriptions.
In this case, we would split the renewal ACV from the single renewal opp into multiple opportunities:
* A customer purchased a subscription for $12,000 in January for 12 months.
* In July, they purchase a second subscription, this time for $24,000 for 12 months.
* They want to co-term both subscriptions to end in December.


| **Type** | **Opportunity Term** | **Dates** | **ACV** | **Renewal ACV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ | ------ | ------ |
| New Business         | 12 months | Jan 1 - Dec 31 | $12,000 | $0 | $12,000 | New customer signs for 12 month plan at $12,000 IACV  |
| Renewal Business (Sub 1) | 12 months | Jan 1 - Dec 31 | $3,000 | $3,000 | $0 | Customer is taking 1/4 of users and creating new subscription. $3,000 is the renewal ACV from the original $12,000.  |
| Renewal Business (Sub 2) | 6 months |  Jan 1 - Jun Dec 31 | $9,000 | $9,000 | $0 | Customer is taking 3/4 of users and creating new subscription. $9,000 is the renewal ACV from the original $12,000.  |

In the above scenario, the total Renewal ACV of two new renewal opps should total the IACV of the original opportunity.

#### Gross Incremental Annual Contract Value (Gross IACV)

Value of new bookings from new and existing customers that will result in recurring revenue over the next 12 months. Gross IACV includes true-ups, refunds and CI Minutes.

#### Net Incremental Annual Contract Value (Net IACV)

Value of new bookings from new and existing customers that will result in recurring revenue over the next 12 months LESS any credits, lost renewals, downgrades or any other decrease to annual recurring revenue

#### Net Incremental Annual Contract Value - Growth (Net IACV - Growth)

Value of bookings from existing customers that will result in recurring revenue over the next 12 months LESS any credits, lost renewals, downgrades or any other decrease to annual recurring revenue

#### Growth Incremental Annual Contract Value (Growth IACV)

Contract value from subscription orders sold into a specific Account that is not the first subscription order sold into that specific Account. Contract value that increases at the time of subscription renewal which can come from a combination of new seats + true-ups + upgrades/downgrades + change in discount

#### Account Family
The collection of all Salesforce Accounts that roll up to the same Ultimate Parent Account.

#### First Order Incremental Annual Contract Value (First Order IACV)
Contract value from the first subscription order sold into a Account Family.

#### Connected New Incremental Annual Contract Value (Connected New IACV)
Contract value from the first new subscription order with an Account that is related to an existing customer Account Family (regardless of relative position in corporate hierarchy)

#### Delta ARR

The change in annual recurring revenue (ARR) from one period to the next. 

Note: Delta ARR is not currently a metric that we can use for operational purposes including planning, compensation or as a KPI.  We are documenting assumptions to enable a transition to Delta ARR from iACV when our systems are processes are ready to support that move.

When looking at a time horizon of the next twelve months Delta ARR will equal IACV except:
1. True-ups and CI Minutes are included in IACV but not in delta ARR
1. Timing: Delta ARR only includes contracts that have started where as IACV is based on the close date so the difference in the close dates of the contracts driving the IACV to the subscription start date impacts the difference
1. Co-term: If contract value is less than 12 months Delta ARR will show the 12 month value and IACV will show the value of the contract.

Delta ARR = iACV - [True Ups and CI Minutes] + [Coterm difference] +/- [Timing differences]

#### Booked Net ARR

The Net ARR value of deals booked in a specific period. It is the bookings equivalent to Delta ARR.

Note: Booked Net ARR is being developed along side Delta ARR and is not currently a metric that we can use for operational purposes including planning, compensation or as a KPI.  We are documenting assumptions to enable a transition to Booked Net ARR from iACV when our systems are processes are ready to support that move.

When looking at a time horizon of the next twelve months Booked Net ARR will equal IACV except:
1. True-ups and CI Minutes are included in IACV but not in Booked Net ARR.
1. Co-term: If contract value is less than 12 months Booked Net ARR will show the 12 month value and IACV will show the value of the contract.

Booked Net ARR = iACV - [True Ups and CI Minutes] + [Coterm difference].

As Booked Net ARR is a bookings metric, the period it represents is based on the Close Date of the Opportunity.

Booked Net ARR is tracked in the `Net ARR` field located on the Opportunity in Salesforce.

##### ARR Analysis Framework

A measure of changes to ARR compared to the prior month, fiscal quarter, or year. While retention calculations measure changes compared to the same period in a previous year, we also need to measure changes over smaller time periods (month-to-month and quarter-to-quarter) to make real-time business decisions and evaluate the immediate impact of our programs and initiatives. While the net and gross retention metrics are externally reported, corporate metrics, the month-to-month and quarter-to-quarter ARR changes reporting is used for internal analysis. ARR changes are reported at the parent account level, with drill down capability to see account level detail.

Types of Delta ARR:
- new - ARR for the customer's first paying month/quarter
- expansion - ARR increased from previous month/quarter
- contraction - ARR decreased from previous month/quarter
- churn - ARR decreased all the way to zero for a customer who was paying in the previous month/quarter
- no impact - ARR remained the same from previous month/quarter

Reasons for Delta ARR:
- seat change - a change in the quantity of seats purchased
- price change - a change in discount
- tier change - an upward or downward change in the product purchased (i.e., from Silver up to Gold)

#### ARR Analysis Framework - Cost Accounting Methodology

The reasons for changes to Delta ARR can happen in combination, such as a change in tier and a change in quantity of seats at the same time. When this happens, the reporting will attribute a specific dollar value of contraction or expansion ARR to each reason. The attribution methodology gets more complex when there are two or three reasons for the ARR change. This analysis framework can also be used to calculate counts of customers that fall into each Delta ARR and Reasons for Delta ARR bucket.  

The analysis framework can also be used to calculate counts of customers that fall into each Type of Delta ARR and Reasons for Delta ARR bucket. The Types of Delta ARR are mutually exclusive where a customer will only be counted for one Type of Delta ARR. However, the Reasons for Delta ARR are NOT mutually exclusive and a customer can have more than one Reason for Delta ARR resulting in the customer being counted in more than one Reason for Delta ARR bucket. 

The current model only considers price changes when the tier stays the same. However, the next model iteration will consider price changes when the tier and price changes. This section will be updated at that time to reflect the additional insights realized off the next model iteration. 

Here are the combinations of reasons that ARR change can be attributed to:
- seat change
- price change
- tier change
- seat change and price change
- seat change and tier change
- seat change, tier change, and price change (will be modeled in the next iteration)

Here are examples of ARR changes when there are two reasons for the change:

![](/handbook/sales/images/arr_reasons_for_change.jpg)

#### ProServe Contract Value (PCV)

{: #pcv}
Contract value that is not considered a subscription and the work is performed by the Professional Services team.

#### Total Contract Value (TCV)

Value of **all** bookings from new and existing customers that will result in revenue less any credits, lost renewals, downgrades or any other decrease (i.e. within 90 days from close of the deal).

If Deal Length is greater than 12 months:
Then TCV = ((ACV / 12) * Deal Term in Months) + Professional Services + Other One Time Fees

If Deal Length is less then or equal 12 months:
Then TCV = ACV + Professional Services + Other One Time Fees

#### Total Addressable Market (TAM)

Annual revenue opportunity of the [entirety of GitLab’s market](/handbook/sales/tam).
The potential value of everyone worldwide that could purchase our product.

#### Landed Addressable Market (LAM)

A subset of TAM, the annual revenue opportuntiy of the entirety of GitLab's market within our current customer base.
The potential value of all users that could purchase our product within existing customer base.

### Credit

Lost or lowered contract value that occurs before a subscription renewal or subscription cancellation.

### Customer Acquisition Cost (CAC)

Given our land and expand model, we need to attribute our sales and marketing expense toward both our acquiring new customers and growing new customers.
We refer to CAC as just the portion of our sales and marketing expense related to new customer acquisition.
We allocate sales expense by using number of active customers because the number of active customers operationally drives where sales spends time. It also doesn't underweight sales time spent on first order which tends to be smaller than growth.
We divide our customer base into cohorts by the quarter when they had their first active subscription. We then weight sales expense to each cohort by the number of active customers in that cohort.
Our marketing expense is allocated between first order business and connected new business based on IACV because those are the key [KPIs](/handbook/ceo/kpis/) we use to evaluate marketing.

Therefore `CAC = Allocated Sales & Marketing Expense/Number of First Order Acquired`

where

`Allocated Sales and Marketing Expense = Sales Expense * First Order Customers / Total Active Customers + Marketing Expense * First Order IACV / (First Order IACV + Connected New IACV)`

### Customer Acquisition Cost (CAC) Ratio

{: #cac-ratio}
Allocated Sales & Marketing Expense to new customer acquisition/ACV from new customers (excludes growth from existing).
[Industry guidance](http://www.forentrepreneurs.com/2017-saas-survey-part-1/) reports that median performance is 1.15 with anything less than 1.0 is considered very good.
All bookings in period (including multiyear); bookings are equal to billings with standard payment terms.

### Downgrade

Contract value that results in a lower value than the previous contract value.
Downgrade examples include seat reductions, product downgrades, discounts, and customers switching to Reseller at time of renewal.


### Licensed Users

{: #licensed-users}
The number of contracted users on active paid subscriptions. Excludes OSS, Education, Core and other non-paid users. The data source is Zuora.

### Life-Time Value (LTV)

{: #ltv}
Customer Life-Time Value is the amount of gross margin contribution on a cash basis from a customer over the life of that customer.

### LTV to CAC

The customer Life-Time Value to Customer Acquisition Cost ratio ([LTV](/handbook/sales/#ltv):[CAC](/handbook/sales/#customer-acquisition-cost-cac) measures the relationship between the lifetime value of a customer and the cost of acquiring and growing that customer. [A good LTV to CAC ratio is considered to be > 3.0.](https://www.klipfolio.com/resources/kpi-examples/saas-metrics/customer-lifetime-value-to-customer-acquisition-ratio). 

To accurately calculate the LTV to CAC of a customer sum all the cash that a customer has paid GitLab over the life of the customer times the gross margin and divide it by the total sales and marketing cost to acquire and grow this customer. These cash flows are discounted back using the GitLab cost of capital or discount rate. We use 15% for our discount rate. This metric is the most accurate view of our unit economics however given we don't have many customers over 4 years of tenure with us there are assumptions in the numbers. This should be used for internal decision making only.

### CAC Ratio

Defined as how much we spend in sales and marketing to generate revenue in a period. We calculate this by taking a ratio of the amount of sales and marketing spend in the prior period compared to the growth in revenue in the current period.  The formula is (sales and marketing expense over trailing twelve months) / (recurring revenue current quarter * 4 - recurring revenue from same quarter prior year * 4). While the metric is easy to calculate its limitation is that the sales and marketing efforts don't have as much impact on revenue in the current period as they do on bookings or future period revenue.

We've seen this definition of CAC Ratio used by companies in their investor presentation. 

### Customer Acquisition Payback
As we acquire new customers we analyze how long it takes to recoup the investment to acquire a new customer. This is calculated by taking one cohort of customers and plotting the sum of the cash paid to GitLab by new customers over time and then plotting the amount of sales and marketing expense allocated to that cohort. Where the two lines cross is where GitLab breaks even on the customer acquisition.

### Lost Renewal

Contract value that is lost at the time of subscription renewals.
Lost Renewals examples include cancellations at or before the subscription renewal date.
If you have a customer who is not renewing, you must mark the Stage as `8-Closed Lost`.

### Growth Efficiency

(Recurring revenue T-1) - (Recurring revenue T-2)) * 4 / GTM spend T-2

T = current quarter

The thesis is that Go To Market (GTM) spend on marketing and sales in the second to last quarter caused the growth in the last quarter.

[Industry guidance](http://www.thesaascfo.com/calculate-saas-magic-number/) suggests a good Magic Number is > 1.0, this means you generate more than $1m in incremental ARR from $1m in Sales and marketing investment). Best in class is > 1.5 (for example Twilio). Atlassian is the best in the B2B SaaS industry > 2.0

This number is also sometimes called 'Magic number'.

### Close Rate

Measurement of closed won, sales assisted opportunities vs the total number of created, sales assisted opportunities in a given period.


### New ACV / New Customers

Net IACV that come from New Customers divided by the number of net new closed deals in the current month.

### New ACV / New Customers by Sales Assisted

Net IACV that come from New Customers and sold by the field sales team and not fulfilled through the web portal divided by the number of net new closed deals in the current month.

### Revenue per Licensed User (also known as ARPU or ARPA)

ARR divided by number of [Licensed Users](#licensed-users).

This metric may also be referred to as Average Revenue Per User (ARPU) or Average Revenue Per Account (ARPA).

### Self-Serve Sales Ratio

Ratio of total IACV from closed won, Web Direct opportunities (i.e. customers who purchase via the self-service portal) divided by the total IACV of all closed won opportunities.
GitLab's target is greater than 30%. The default measurement is IACV but this can also be calculated and reported for ACV.


### Sales Qualified Lead (SQL)

[Sales Qualified Lead](/handbook/business-ops/resources/#customer-lifecycle)

### Late Stage Pipeline

The IACV of all open opportunities currently in the stages of 4-Proposal, 5-Negotiating, and 6-Awaiting Signature.

### Total Pipeline

The IACV of all open opportunities.


### Pipeline Generation

We measure pipeline generated on a monthly basis for net new customers and existing customers.
For KPI measurement pipeline creation vs plan should exceed 1.0.

### Renewal (ACV)

The value of previously closed Won ACV that is up for renewal.
Renewal ACV should not include ACV from Professional Services or True-Ups. For clarity this does not include multi-year deals during the mult-year contract term.

##### How Renewals ACV is Calculated

Renewals ACV can be calculated in the following ways:

| **Type** | **Opportunity Term**  | **Amount/TCV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ |
| New Business | 12 months | $120,000 | $120,000 | New customer signs for less than or equal to 12 months is IACV. |
| Add On Business | 5 months | $40,000 | $40,000 | Existing customer signs for less than or equal to 12 months is IACV. |

In the above case, the Renewals ACV will be $160,000.
Any delta from this number will result in a positive or negative impact to IACV.

**True Ups:**  Remember that true-ups are NOT included in the Renewals ACV of a renewing customer, even though they are classified as IACV.
Let's look at the scenario below:

| **Type** | **Opportunity Term**  | **Amount/TCV** | **Incremental ACV** | **Explanation** |
| ------ | ------ | ------ | ------ | ------ |
| New Business | 12 months | $48,000 | $48,000 | New customer purchases 1,000 Starter Seats |
| First Renewal | 12 months | $96,000 | $48,000 | Customer renews the 1,000 Seats, but also has a true up for 500 users. They also need to purchase 500 seats for the following term, so the IACV is $48,000  |
| Second Renewal | 12 months | $48,000 | $0 | On the second renewal, there is no growth from the 1,500 users, and since we are not including true ups in the Renewal ACV, the IACV is $0 (and not -$48,000 if we included true ups)  |

### Renewals + Existing Growth

Renewals ACV plus Growth IACV minus (Lost Renewals + Credits + Downgrades)

### Upsells/Cross sells and Extensions (IACV)

The value of the first twelve (12) months of any mid-term upgrade.

### Closed Deal - Won

A unique deal that is set to `Closed Won` in SalesForce.

### Utilization

Utilization is defined as `Seats currently in use / Seats in license`.
When not qualified, referring to "utilization" always refers to license utilization.
All other uses, (e.g. CPU utilization), should be qualified and mentioned specifically.

## Reporting Bookings

Exclusive ACV categories in which each dollar counts once.
1. IACV (net of any refunds, credits, etc. Includes all recurring revenue types plus consumption charges (e.g. CI minutes)
   1. First Order
   1. Connected New
   1. Growth (Note: not all of these are currently measurable)
      -True-Ups
      -Lost renewals
      -Seat-change (change in license count) 
      -Tier-change (changing tiers, component of Up-tier, based on list price)
      -Price-change
         -Discount-change (change of a discount, component of Up-tier)
         -List-change (changing the list price of a tier, component of Up-tier)
1. Renewal (existing seats at existing discount, list price, and tier)
Other categories that are not recorded as ACV but count as TCV
1. Professional Services
Transaction Type:
1. First Order 
1. Connected New 
1. Growth IACV
   1. Seat-change 
   1. Tier Change 
   1. Price change 

## How Sales work with other GitLab teams

### Sales Development Representative (SDR)

#### Territory support from SDR

* Align on accounts and prioritize prospecting targets (both on the account and title levels).
* SDRs are to set 'at bat' meetings utilizing sales development best practices which are documented in the [SDR Handbook](/handbook/marketing/revenue-marketing/sdr/#sdr-expectations)
* Drive brand awareness within target accounts

### Customer Success

See our [customer success page in the handbook for more details](/handbook/customer-success/).

### Support - Escalation to Support

During the sales cycle potential customers that have questions that are not within the scope of sales can have their queries escalated in different ways depending on the account size:

1. For Strategic/Large accounts that will have a dedicated Solutions Architect, [engage the SA](/handbook/customer-success/solutions-architects#when-and-how-to-engage-a-solutions-architect) so that they can triage and develop the request.
1. For questions that you think technical staff can answer in less than 10 minutes, see the [internal support](/handbook/support/#internal-support-for-gitlab-team-members) section of the support handbook.
1. If a potential customer has already asked you a question, forward a customer question via email to the **support-trials** email address. - It's important the email is **forwarded** and not CC'd to avoid additional changes required once the support request is lodged.

#### How Support Level in Salesforce is Established

Once a prospect becomes a customer, depending on the product purchased, they will be assigned a Support Level (Account) in Salesforce:

##### GitLab Self-managed

1. Premium: Ultimate customers; Premium customers; any Starter customer who has purchased the Premium Support add on
1. Basic: any Starter customer without the Premium Support add on
1. Custom: any customer on Standard or Plus legacy package

##### GitLab.com
1. Gold: Gitlab.com Gold Plan
1. Silver: Gitlab.com Silver Plan
1. Bronze: Gitlab.com Bronze Plan

If a customer does not renew their plan, their account will be transitioned to an "Expired" status.

## Product

### Who to talk to for what

If a client has a question or suggestion about a particular part of the product, find out with whom on the Product team you need to speak by looking under [DevOps Stages](/handbook/product/product-categories/#devops-stages) on the Product stages, groups, and categories page.

### Contributing to Direction

Being in a customer facing role, salespeople are expected to contribute to [GitLab Direction](/direction/).
Each day we talk to customers and prospects we have the opportunity to hear of a feature they find valuable or to give feedback (positive and constructive) to an feature that there is an issue for.
When you hear of feedback or you personally have feedback, we encourage you to comment within the issue, if one exists, or create your own issue on our [Issue Tracker](https://gitlab.com/gitlab-org/gitlab-ee/issues). Checking the [GitLab Direction](/direction/) page and the [Issue Tracker](https://gitlab.com/gitlab-org/gitlab-ee/issues) should happen throughout the week.

When you have an organization that is interested in a feature and you have commented in the issue and added a link to the account in salesforce, please follow the process outlined on the [product handbook](/handbook/product/how-to-engage/#examples-a-customer-has-a-feature-request) to arrange a call with the product manager and account to further discuss need of feature request.

## Requesting Assistance/Introductions Into Prospects from our Investors

We have great investors who can and want to help us penetrate strategic accounts.
Please discuss with your Manager details of your request and fill out [this form](https://forms.gle/vbwjWr5sUN6Z35Rh7). Your request will be reviewed for completness and faciliated directly to the Investor or included in the monthly investor update section called "Asks".
All requests should be made before the 1st of the month so they are included in the upcoming investor update.

If an investor can help, they will contact the CRO, and the CRO will introduce the salesperson and the investor.
The salesperson shall ask how the investor wants to be updated on progress and follow up accordingly.

### Email Intro

_This introduction email is progressive. You can choose to use just the first paragraph or the first two, three, or four depending on the detail you feel is appropriate for your audience._

GitLab is a complete DevOps platform, delivered as a single application, fundamentally changing the way Development, Security, and Ops teams collaborate.
GitLab helps teams accelerate software delivery from weeks to minutes, reduce development costs, and reduce the risk of application vulnerabilities while increasing developer productivity.
GitLab provides unmatched visibility, radical new levels of efficiency and comprehensive governance to significantly compress the time between planning a change and monitoring its effect.

GitLab collapses cycle times by driving higher efficiency across all stages of the software development lifecycle.
For the first time, Product, Development, QA, Security, and Operations teams can collaborate in a single application. There’s no need to integrate and synchronize tools, or waste time waiting for handoffs.
Everyone contributes to a single conversation, instead of managing multiple threads across disparate tools. Development teams have complete visibility across the lifecycle with a single, trusted source of data to simplify troubleshooting and drive accountability.
All activity is governed by consistent controls, making security and compliance first-class citizens instead of an afterthought.

Built on Open Source, GitLab leverages the community contributions of thousands of developers and millions of users to continuously deliver new DevOps innovations.
More than 100,000 organizations from startups to global enterprise organizations, including Ticketmaster, Jaguar Land Rover, NASDAQ, Dish Network and Comcast trust GitLab to deliver great software at new speeds.

Some additional detail is linked below:

* [Gitlab ranked number 4 software company (44th overall) on Inc. 5000 list of 2018's Fastest Growing Companies](/is-it-any-good/#gitlab-ranked-number-4-software-company-44th-overall-on-inc-5000-list-of-2018s-fastest-growing-companies)
* [GitLab has 2/3 market share in the self-managed Git market](/is-it-any-good/#gitlab-has-23-market-share-in-the-self-managed-git-market)
* [GitLab CI is the fastest growing CI/CD solution](/is-it-any-good/#gitlab-has-23-market-share-in-the-self-managed-git-market)
* [GitLab CI is a leader in The Forrester Wave™](/is-it-any-good/#gitlab-ci-is-a-leader-in-the-the-forrester-wave)
* [GitLab is a top 3 innovator in IDC's list of Agile Code Development Technologies for 2018](/is-it-any-good/#gitlab-is-a-top-3-innovator-in-idcs-list-of-agile-code-development-technologies-for-2018)
* [GitLab is a strong performer in the new Forrester Value Stream Management Tools 2018 Wave Report](/is-it-any-good/#gitlab-is-a-strong-performer-in-the-new-forrester-value-stream-management-tools-2018-wave-report)
* [GitLab is one of the top 30 open source projects](/is-it-any-good/#gitlab-is-one-of-the-top-30-open-source-projects)
* [GitLab has more than 2,000 contributors](/is-it-any-good/#gitlab-has-more-than-2000-contributors)
* [GitLab has been voted as G2 Crowd Leader in 2018](/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader-in-2018)


## [GitLab Sales Process](/handbook/business-ops/resources/#opportunity-stages)

### Studying your customer and prospects accounts to bring maximum value

Every GitLab customer is unique.
For this we believe we must spend time understanding which of their Problems can GitLab solve in order to show them how and if we can help.

It starts by understanding the bigger picture your customer is working towards, this means taking a step back from the technical requirements, to understand why those are important to the business.

[Build a Value Deck](https://docs.google.com/presentation/d/1ocQwS3IO320hV9rXnXuwZTW5JTIdmuT3aVX4nvtmK8w/edit#slide=id.g5e9f5a6cd8_0_480)

A Value Deck is dedicated to your focus accounts on which you will be spending more time.
It is a deck that contains high level information on the Corporate Objectives, Business Strategies, Key initiatives and Challenges.

We then use this information to formulate a Problem Statement that sums up your customer’s Challenges and what could happen if the Business Strategies and thus Corporate Objectives are not met.

Spending time on this will help you understand your customers better to work smart together, it will also help you formulate the business value at the Commercial Validation stage.

You can introduce the Value Deck at any stage but it is always best to do it before you start prospecting as it can help you build customised emails to your different accounts.

Make it collaborative: work on it with your customer (or print a blank version and offer them to fill it), and have them review your findings to see if there is anything to add.
Your champions will appreciate that, and can share more details about their Challenges and Key Initiatives than Uncle Google.


### Standard Implementation Sequence

The GitLab product is incredibly well matched to customer needs.
In fact, we almost always earn a customer and grow quickly if they simply 1) give it a real try and 2) understand it.
That means our best sales motion is to ensure we accomplish both at the same time.
We've learned that a hands-on workshop is the best way to help the customer understand and make good decisions from the first conversation to the first expansion decision to the move to a higher tier and to the renewals down the road.
At every step, a workshop is the most efficient and effective way to serve the customer.

Goal for every conversation with a customer:
* **Agree to a workshop**
  * A workshop is a great way to _give value_ to our prospect and have a conversation in context about GitLab.  Even if the prospect does not move forward with GitLab, they should always be much better off for having done the workshop. This can be a workshop of any kind as long as a) the key people at the account are learning about the full capability of GitLab in their context and b) they are learning hands-on with the product (not just in slides).  When the customer has the right people in one place and working hands-on to see what's possible, GitLab almost always moves to the next stage of the adoption or growth process with the customer.  The product is an incredible fit, they simply need to see it live and in their context.  A workshop is much more effective than a "trial" opportunity as we can greatly accelerate both the time to value for the customer and the time to understanding GitLab in their own unique environment.

Sales Motion and Sequence:
1. **Initial conversations:** In an early conversation when a customer is still trying to learn about GitLab, _**agree to a workshop**_ with decision maker and involved team members to learn about end-to-end devops in a hands-on workshop to see what would be possible in their environment and exit with a working example to evaluate and better understand DevOps at 5x speed and better security and quality at the same time.
   1. DELIVER: DevOps Best Practices workshop
   1. Give customer a complete understanding of how their own company could be successful with end-to-end DevOps and GitLab in their own environment
   1. Hands-on setup of GitLab in their own environment => This is now the PoC deployment in place and running
   1. Begin PoC and with framework to measure success and report back on their real-world experience
   * On completion, move to an initial deployment and opportunity to become a customer.
1. **First Purchase:** When a successful PoC is completed: _**agree to another workshop**
   1. DELIVER: Demo of how to use GitLab in their phase 1 deployment. Show the desired end-state to the customer.
   1. Train customer on GitLab best practices
   1. Set customer up with Shared Compute (attached [Runners](https://docs.gitlab.com/ee/ci/runners/) and [Kubernetes clusters](https://docs.gitlab.com/ee/user/project/clusters/))
   1. Leave demo with agreed deployment plan, timeline and target results
   * On completion: customer purchases subscription
1. **CI Expansion conversations:** If not in the first deployment, as soon as possible _**agree to a CI workshop**_
   1. DELIVER: CI best practices workshop, training and hands-on training for customer
   2. Set up shared runners for the customer during the workshop every time.  Ensure this is in place before completing the workshop
   3. Schedule CI training for the broader team at the customer
   * On completion: Expand subscription user base as customer gets broader value from use of CI without having to move up in tier
1. **Department expansion conversations:** When a customer has great success with GitLab in part of the company but other departments/organizations have not yet adopted: _**agree to a workshop**_ with the new organization to save them time.  In a 4 hour workshop, that new organization can have developers, devops managers, integration teams, etc. all emerge with:
   1. A complete understanding of how their own company has been successful with end-to-end DevOps and GitLab in their own environment
   1. A working example to evaluate real development in their own environment
   1. A framework to measure success and report back on their real-world experience
   * On completion: deploy production users on already implemented instance and ensure all are fully trained and successful.
1. **Up Tier conversations:** When a customer is interested in capabilities in a higher tier (security in Ultimate, for example) _**agree to a workshop**_ so they can see the benefit of end-to-end DevOps with security from the very first commit. These are 1 day workshops and a big investment in our customers' success:
   1. DevSecOps Workshop: Dev, Ops, and Security team members fully understanding DevSecOps and how to implement it. Security automation, auto DevOps, etc. Implement Ultimate in workshop to allow hands-on experience and results.
   1. Kubernetes Workshop: Cloud-native best practices workshop for fully-modern development with fast cycle time and high security and quality.  Support our customers to be expert in Kubernetes.
   1. End-to-end DevOps: Using all stages of DevOps.  Use remaining stages of GitLab for fastest possible cycle time with highest possible security and quality.
   * In both workshops, deliver a framework to measure success and proof points in agreed cases that are important in their specific context.
   * On success, renew customer on higher tier (Ultimate, in this case) and ensure all users are trained and fully utilizing the new capabilities.


### Tracking Proof of Concepts (POVs)

In Stage 3-Technical Evaluation, a prospect or customer may engage in a proof of concept as part of the evaluation.
If they decide to engage, please fill in the following information, as we will use this to track existing opportunities currently engaged in a POV, as well as win rates for customers who have engaged in a POV vs. those that do not.

1. In the opportunity, go to the 3-Technical Evaluation Section.
1. In the POV Status field, you can enter the status of the POV. The options are Not Started, Planning, In Progress, Completed, or Cancelled.
1. Enter the POV Start and End Dates.
1. Enter any POV Notes.
1. Enter the POV Success Criteria, ie how does the prospect/customer plan to determine whether the POV was successful or not.

### Capturing Purchasing Plans

Once you have reached Stage 4-Proposal, you should agree to a purchasing plan with your prospect/contact.
This will include a clear understanding of purchase/contract review process and a close plan.
This should include actions to be taken, named of people to complete actions and dates for each action. The information captured in this field will be used by sales management to see if the deal is progressing as planned.
Delays in the purchasing plan may result in a request to push the opportunity into the following period.

## How Sales Segments Are Determined

Sales Segmentation information can be found in the [Business Operations - Database Management](/handbook/business-ops/resources/#segmentation) section.

## Export Control Classification, and Countries We Do Not Do Business In

GitLab's Export Control Classification (or ECCN) is 5D992.c. As a consequence of this classification, we currently do not do business in: Iran, Sudan, Syria, North Korea, Cuba and the Crimean region of the Ukraine.

## Seeing how our customers use GitLab

### Adoption - GitLab Usage Statistics

Using [GitLab Version Check](/handbook/sales/process/version-check/), GitLab usage data is pushed into Salesforce for both CE, EE and EE trial users.
Once in Salesforce application, you will see a tab called "Usage Statistics".
Using the drop down view, you can select CE, EE trails or EE to see all usage data sent to Gitlab.
Since version check is pulling the host name, the lead will be recorded as the host name.  Once you have identified the correct company name, please update the company name.
Example: change gitlab.boeing.com to Boeing as the company name.

To view the usage, click the hyperlink under the column called "Usage Statistics".
The link will consist of several numbers and letters like, a3p61012001a002.
You can also access usage statistics on the account object level within Salesforce.
Within the account object, there is a section called "Usage Ping Data", which will contain the same hyperlink as well as a summary of version they are using, active users, historical users, license user count, license utilization % and date data was sent to us.

A few example of how to use Usage Statistics to pull insight and drive action?
* If prospecting into CE users, you can sort by active users to target large CE instances.
You can see what they are using within GitLab, like issues, CI build, deploys, merge requests, boards, etc.
You can then target your communications to learn how they are using GitLab internally and educate them on what is possible with EE.
* For current EE users who are below their license utilization, you can engage the customer to understand their plan to rollout GitLab internally and how/where we can help them with adoption.
* For current EE users who are above their license utilization, you can leverage the data to engage the customer.
Celebrate the adoption of GitLab within their organization.  Ask why the adoption took off?  How they are using it (use cases)? Engage them in amending their contract right now for the add-on?
Update the renewal opportunity to reflect the increase in usage for the true-up and new renewal amount.
* For current EE users who are not using a EE feature, i.e. CI or issues, you can engage the customer to understand why they are not using it.
Do they know we offer it?
Are they using a competitive tool?
Have the integrated their current tool into GitLab?
Are they open to learning more about what we offer to replace their current tool?
* For EE trials.
What EE features are they using and not using?
If using a EE feature, what are they trying to solve and evaluate?
If not using, why and are they open to evaluating that feature?

Take a look at a Training Video to explain in greater detail by searching for the "Sales Training" folder on the Google Drive.

### Open Source users - GitLab CE Instances and CE Active Users on SFDC Accounts

In an effort to make the [Usage/Version ping data](https://docs.gitlab.com/ee/user/admin_area/settings/usage_statistics.html) simpler to use in SFDC, there are 2 fields directly on the account layout - "CE Instances" and "Active CE Users" under the "GitLab/Tech Stack Information" section on the Salesforce account record.

The source of these fields is to use the latest version ping record for and usage record for each host seen in the last 60 days and combine them into a single record.
The hosts are separated into domain-based hosts and IP-based hosts.
For IP based hosts, we run the IP through a [reverse-DNS lookup](https://en.wikipedia.org/wiki/Reverse_DNS_lookup) to attempt to translate to a domain-based host.
If no reverse-DNS lookup (PTR record) is found, we run the IP through a [whois lookup](https://en.wikipedia.org/wiki/WHOIS) and try to extract a company name, for instance, if the IP is part of a company's delegated IP space.
We discard all hosts that we are unable to identify because they have a reserved IP address (internal IP space) or are hosted in a cloud platform like GCP, Alibaba Cloud, or AWS as there is no way to identify those organizations through this data.
For domain-based hosts, we use the Datafox &/or DiscoverOrg domain lookup API to identify the company and firmographic data associated with the organization and finally the [Google Geocoding API](https://developers.google.com/maps/documentation/geocoding/start) to parse, clean, and standardize the address data as much as possible.

These stats will be aggregated up and only appear on the Ultimate Parent account in SFDC when there are children (since we don't really know which host goes to which child).

To see a list of accounts by # of CE users or instances, you can use the [CE Users list view](https://na34.salesforce.com/001?fcf=00B61000004XccM) in SFDC.
To filter for just your accounts, hit the "edit" button and Filter for "My Accounts".
Make sure to save it under a different name so you don't wipe out the original.
These fields are also available in SFDC reporting.

A few caveats about this data:
* The hosts are mapped based on organization name, domain, and contact email domains to relate the instances to SFDC accounts as accurately as possible, but we may occasionally create false associations.
Let the Data & Analytics team know when you find errors or anomalies.
* Both fields can be blank, but the organization can still be a significant CE user.
Both fields being blank just means that there are no instances sending us version or usage pings, not necessarily that there are no active instances.
* Users can be the same person in multiple instances, so if a user exists in several instances at an organization with the usage ping on, they are counted each time they appear in an instance.
Users may also be external to an organization, so the number of users may not represent employees and can thus be higher than the number of employees.
* These numbers represent the minimum amount that GitLab is likely being used within the organization, since some instances may have these pings turned on and some off.
They also may have just the version ping on, in which case we won't see the number of users.
This should not be interpreted as having instances but no users.

For the process of working these accounts, appending contacts from third-party tools, and reaching out, please refer to the [business operations](/handbook/business-ops/) section of the handbook.

## How we use our systems

### GitLab Tech Stack

For information regarding the tech stack at GitLab, please visit the [Tech Stack Applications page](/handbook/business-ops/tech-stack-applications/#tech-stack-applications) of the Business Operations handbook where we maintain a comprehensive table of the tools used across the company, in addition to a 'cheat-sheet' for quick reference of who should have access and whom to contact with questions.

### Collaboration Applications used by Sales

Please [use the handbook](/handbook/handbook-usage/#why-handbook-first) as much as possible instead of traditional office applications.
When you have to use office applications always use [Gsuite applications](https://gsuite.google.com/together/) instead of Microsoft Office; for example, Google Sheets instead of Excel, Google Docs instead of Word, and Google Slides instead of Keynote or Powerpoint.
Give the entire company editing rights whenever possible so everyone can contribute.

### Parent and Child Accounts

* A Parent Account is the business/organization which owns another business/organization.
Example: The Walt Disney Company is the parent account of Disney-ABC Television Group and Disney.com.
* A Child Account is the organization you may have an opportunity with but is owned by the Parent Account.
A Child Account can be a business unit, subsidiary, or a satellite office of the Parent Account.
* You may have a opportunity with the Parent account and a Child Account.
Example: Disney and ESPN may both be customers and have opportunities. However, the very first deal with a Parent Account, whether it is with the Parent Account or Child Account, should be marked as "New Business".
All other deals under the Parent Account will fall under Add-On Business, Existing Account - Cross-Sell, or Renewal Business (see Opportunity Types section).
* If the Parent and Child accounts have the same company name, either add the division, department, business unit, or location to the end of the account name.
For example, Disney would be the name of the Parent Account, but the Child Account would be called The Walt Disney Company Latin America or The Walt Disney Company, Ltd Japan.
* When selling into a new division (which has their own budget, different mailing address, and decision process) create a new account.
This is the Child Account.
For every child account, you must select the parent account by using the parent account field on the account page.
If done properly, the Parent/Child relationship will be displayed in the Account Hierarchy section of the account page.
* Remember that a child account can also be a parent account for another account.
For example, Disney-ABC Television Group is the child for The Walt Disney Company, but is the parent for ABC Entertainment Group.
* We want to do this as we can keep each opportunity with each child account separate and easily find all accounts and opportunities tied to a parent account, as well as roll-up all Closed Won business against a Parent Account.

### When to Create an Opportunity with Software License Fees

Before a LEAD is converted or an OPPORTUNITY is created the following must occur:

1. Authority
  * What role does this person play in the decision process? (i.e. decision maker, influencer, etc.) OR is this someone that has a pain and a clear path to the decision maker
1. Need
  * Identified problem GitLab can solve
1. Required Information
  * Number of potential paid users
  * Current technologies and when the contract is up
  * Current business initiatives
1. Handoff
  * The prospect is willing to schedule another meeting with the salesperson to uncover more information and uncover technical requirements and decision criteria
1. Interest by GitLab salesperson to pursue the opportunity.  Are you interested in investing time in pursuing this opportunity.

* When creating any OPPORTUNITY be sure to review the criteria needed for each [Opportunity Stage](/handbook/business-ops/resources/#opportunity-stages) and be aware that all opportunities must enter the "O-Pending Acceptance" stage or you will encounter a validation rule error.

#### Creating an Opportunity

Opportunities can only be created *from* a CONTACT record or when *converting* a LEAD.
See the ['How to create an Opportunity'](/handbook/business-ops/resources/#how-to-create-an-opportunity) section of the Business OPS handbook.


### True up

***What is it?***

A true up is a back payment for a customer going over their license count during the year.

***Why do we use it?***

We use the true up model so that the license never becomes a barrier to adoption for the client.

***Let's take an example.***

A customer takes out a subscription for 100 users.
During the year they grow the usage of the server and 200 additional users come on board.
When it comes time to renew, they are now up to 300 active users despite the license only being for 100 users.

At this point the customer needs to do two things: they need to renew the license and to add the true up users.
The number of true up users in this case is 200.
It is the difference between the `Maximum Users` and the `Users in License`.
This can be found by the customer in their GitLab server by going to the Admin > License area.
It will look like [this](https://docs.gitlab.com/ee/user/admin_area/img/license_details.png)

There is more information below on the steps you need to take, but in this example you would need to update the number of users for the renewal to 300 and add the `True Up` product to the renewal quote for 200 users.
This will create a one time only charge to the customer and in a year's time, they will have a renewal for 300 users.

[***See here more information on the steps to take for the true up***](#renew-existing-subscription-with-a-true-up-for-the-billing-account)

***Note that we make provision for true ups in our standard [Subscription Terms](/terms/#subscription) Section 5 - Payment of Fees.***

### Deal Sizes

Deal Size is a dimension by which we will measure stage to stage conversions and stage cycle times of opportunities.
Values are [IACV](/handbook/finance/operating-metrics/#bookings-incremental-annual-contract-value-iacv) in USD.

1. Jumbo - USD 100,000 and up
1. Big - USD 25,000 to 99,999.99
1. Medium - USD 5,000 to 24,999.99
1. Small - below USD 5,000

Note that we use the same amounts to group customers by ARR.

### Associating Emails to Opportunities

Associating emails to Salesforce is a best practice that should be followed by all users.
Attaching emails to a Lead, Account, Contact, or Opportunity record are vital for transparency, as any number of team members can review the correspondence between GitLab and the customer/prospect account.
It doesn't do anyone any good when all of the correspondence is kept in a user's inbox.

With that said, there are multiple ways that an email can be associated to an opportunity.
But before you do that, you must first make sure that the contact record is associated to an opportunity via the Contact Roles object.

#### First, Contact Roles

To add a Contact Role to an opportunity:
1. Go to the Opportunity.
1. Go to the Contact Role related list.
1. Click 'New'.
1. Add the Contact.
1. If this person is your primary contact, click on the 'Primary' radio button.
1. Add the Role this person plays in the opportunity (Economic Buyer, Technical Buyer, etc).
1. Repeat the steps, although you can only have one Primary Contact per opportunity.
1. For more information, you can visit the [Salesforce Knowledge Center](https://help.salesforce.com/articleView?id=contactroles_add_cex.htm&type=5).

#### Email to Salesforce

Email to Salesforce allows you to associate emails to Opportunities using an email long email string that associates the email to the contact.
To set this up:

1. Click on your 'Name' on the top right of any page in Salesforce.
1. Select 'My Settings'
1. Go to the left sidebar and click 'Email'.
1. Then click 'My Email to Salesforce'.
1. Copy the email string.
1. Go to My Acceptable Email Addresses and make sure your gitlab email address is there.
1. In 'Email Associations', make sure "Automatically assign them to Salesforce records" is checked.
1. Check Opportunities, Leads, and Contacts.
1. In the Leads and Contacts section, make sure to select "All Records".
1. It is up to you if you want to save all attachments, as well as if you want to receive an email confirmation of an association (my recommendation is yes for the first few weeks to make sure it's working, then you can turn it off anytime).
1. Click Save.
1. Go to Gmail and save this email address in a Contact record. A good practice is name it 'BCC SFDC' for first and last name.
1. When you send any emails from Gmail, you will BCC the "BCC SFDC" contact, which will send the email to long string you copied in Step 5.

#### Outreach

If you want to associate emails to Opportunities using Outreach, follow these steps:

1. Go to your photo on the bottom left.
1. Click Settings
1. Select 'Plugins' on the left menu.
1. Select the SFDC (Salesforce) plugin.
1. Click on 'Contact'.
1. On the bottom right, enable 'Automatically associate activity with Opportunity'
1. Click the 'Save' button on the top right.

#### Salesforce Lightning for Gmail

If you want to associate emails to Opportunities or other records using the Salesforce Lightning for Gmail plug in, follow these steps:

1. Visit the Chrome Store to download the [Salesforce Lightning for Gmail](https://chrome.google.com/webstore/detail/salesforce-lightning-for/jjghhkepijgakdammjldcbnjehfkfmha) plug in.
1. Click `Add to Chrome`
2. Click `Add Extension`
2. Go to Gmail and open the right sidebar.
3. When you open an email that may contain email addresses from existing leads or contacts in Salesforce, all related records associated to that email (Lead, Contact, Account, Opportunity, and Cases) will appear, and you can select any or all records to related the email to.
3. For each record you'd like to associate the email to, click on the upload icon for each record.
4. If you wish, you can include some or all of the attachments to the record as well by clicking the checkbox next to each attachment.

If you have any issues with the setup, please contact the Director of Sales Operations via Slack, email, or SFDC Chatter.

### Sales Order Processing

See the [order processing](/handbook/business-ops/order-processing/) page for information and training related to using Salesforce to create accounts, contacts, opportunities, etc.; opportunity reassignments; returning customer creation; and more.

### Understanding Opportunities

Sales Leadership primarily [uses Clari to understand opportunities](#advantages-to-updating-opps-in-clari). Other GitLab Team Members with SFDC access should use the following resources to understand a Sales opportunity.
- The [opportunity](/handbook/sales/field-operations/gtm-resources/#opportunities) (if available [Command Plans](#opportunity-management-requirements) or existing customer [Success Plans](/handbook/customer-success/tam/success-plans/) offer great overviews)
- The [Account Plan](https://drive.google.com/drive/folders/0B-ytP5bMib9Ta25aSi13Q25GY1U)
- Directly reaching out to the [Account owner](#initial-account-owner---based-on-segment) or [TAM](/handbook/customer-success/#technical-account-managers) (in the internal slack channel)

### Elevator pitch

Please see [our value proposition](/handbook/marketing/product-marketing/messaging/#gitlab-value-proposition).

## Sales Note Taking

GitLab is an organisation that is built on contribution and collaboration.
These values are not only critical for building a great product, they are critical for building a world class commercial team.
Each member of the sales team is expected to create insider notes in Salesforce on accounts and conversations they are involved with.
With GitLab being a remote company, it weighs even more importance on creating and maintaining a culture of great note taking.

Read: [How we take notes at GitLab](https://docs.google.com/document/d/1l5mfHMck914I1aJMOCX4lU2J2sImrloUpSm3Nb5Pa9U/edit)

## SMB Commercial Pitch Deck (short)

SMB Customer Advocates may use [this deck](https://docs.google.com/presentation/d/1ypo8PNB5TFK1PboMUyU_D5QjRkRR92uzYpS3pYyQgbw/edit?usp=sharing) as a guide for sales meetings.
Speaking tips and best practices are included in the Comments section of each slide.

## GitLab President's Club
Please see [Club Page](/handbook/sales/club/) to find out more about our President's Club Program.

## Stage Technology tracking

The goal of this process is to capture information about the technology an account in SalesForce uses in each stage of their DevOps Tools landscape [(based on competitors as of 2020-04-10)](/devops-tools/). This will allow us to market & sell to specific stages in their CI/CD process more accurately.

Please enter the following data in the "Stage Technology" section of the Account object in SFDC:

- `st_(Stage) Tech`: Current technology used by prospect/customer (Including GitLab)
- `st_(Stage) Appetite for Replacement`: Red (Don't want to change), Yellow (Might change) /Green (Willing to change)
- `st_(Stage) Contract End Date`: As exact as possible date their current technology contract end

This is to support [the FY21Q1 OKR for identifying third-party tools](https://gitlab.com/gitlab-com/sales-team/field-operations/sales-operations/issues/684). Please add feedback, requests, and other commentary about this to the linked OKR issue.

## Corona Virus Impact to Business Tracking

To standardize our messaging around Coronavirus and the impact it is having on our prospects and customers, please reference the below processes:
*  Use this for [guidance on a standardized conversation](https://docs.google.com/document/d/1NLHsJ72lTG7o93UnmSHIWF-ifW0202NPiBRJPWacTJc/edit?usp=sharing)
*  Use this to [capture anecdotal feedback from prospects & customers](https://docs.google.com/document/d/1lFnM1SlVtOjy0IsUmGT5rjwpLdgt4TIlxg154czX1p4/edit)
*  Add the string `#covid` in the SFDC Opportunity field `[CP]` Close Plan to indicate you have had this conversation with your prospect/customer and use this report to confirm your Opportunity is tagged correctly: [COVID Mentions in CP Close Plan](https://gitlab.my.salesforce.com/00O4M000004e58i)
*  Assess and flag each SFDC Deal using the "COVID-19 Risk Scale" field with the following definitions:

1. Blank: No conversation or insight has been gathered yet
1. Pending: Engaged with customer to validate current situation
1. No impact: Oppty proceeding on close plan in customer's words
1. Med: Customer validates change to budget or timing but some "high priority" purchases still happening
1. High - Budget Change: Customer's words: all budget gone in formal response to economy
1. High - Priority Change: Customer's words: Timing must push in direct response to economy

*  Add high-level summary of impact to "COVID Comment" and original amount prior to impact in "Pre-COVID IACV" SFDC fields on the opportunity
*  A note for Commercial Account Owners: add the string `c19` to any activity record where a discussion was held.
